.text-decoration-none{
    text-decoration: none;
    color: black;

}
/* Initially hide the dropdown menu */
.dropdown-menu {
    display:none;
  }
  
  /* When hovering over the parent nav-item, show the dropdown menu */
  .nav-item:hover .dropdown-menu {
    display: block;
  }

