.text-decoration-none{
    text-decoration: none;
    color: black;

}

.dropdown-menu {
    display:none;
  }
  
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  .nav-link-style {
    text-decoration: none;
    color: inherit; 
  
  }
  
  .nav-link-style:hover {
    text-decoration: none; 
    color:inherit
  }