
.footer p {
  font-size: 14px; 
}

.footer .img-fluid {
  max-width: 1000px;
}
.nav-link-style {
  text-decoration: none;
  color: inherit; 

}

.nav-link-style:hover {
  text-decoration: none; 
  color:inherit
}